<h1>Dice Roll</h1>
<form action="/process_roll">
  <label for="zebra">Number of dice to roll?</label>
  <input id="zebra" name="dice">
	
  <label for="giraffe">How many sides per die?</label>
  <input id="giraffe" name="sides">
	
  <button>Roll!</button>
</form>
